base_pkgs:
  - wget
  - vim
  - htop
  - git
  - python-apt
  - htop
  - python
  - python-software-properties
  - ntp

sshd_config:
  Port: 1122
  PasswordAuthentication: no
  X11Forwarding: no
  RSAAuthentication: yes
  PubkeyAuthentication: yes
  UsePAM: yes
  Subsystem: "sftp /usr/lib/openssh/sftp-server"

mysql:
  pass:
    root: somePass

mail_alert:
  account:
    server: smtp.gmail.com
    port: 587
    email: some@example.com
    password: p@ssw0rd;)
    authentication: plain
    domain: example.com
  users:
    - first@example.com
    - second@example.com

backup:
  s3:
    bucket: some-aws-bucket
    region: us-east-1
    access_key_id: 8df98fdugsdfkjghdfsjkgsd
    secret_access_key: sd98fgu89fsdug89sdfug89dfsug
    path: DatabaseBackups
